
body{
	padding-top: 45px;
	padding-bottom: 40px;
}
      
.error{
	color:red;
}



/* Problemas com o GMAP

#container-principal{
	display:none;
}

#dvLoading {
   position: fixed;
   z-index: 1000;
   left: 50%;
   top: 50%;
   margin-left: -75px;
   background-color: #FFF;
   border: grey 1px solid;
   width: 150px;
   height: 30px; 
   
}
*/